<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened #sidebar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span class="material-icons" (click)="sidebar.toggle()">format_align_left</span>
      <span class="example-spacer"></span>
      <span class="material-icons">mark_email_unread </span>
      <span class="material-icons" [matMenuTriggerFor]="menu">account_circle</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">Profile</button>
          <button mat-menu-item>Log Out</button>
        </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>







