<div class="profile">
    <div class="image">
        <img src="/assets/images/user.png" alt="">
    </div>
    <p class="text-center">User Name</p>
</div>



<mat-nav-list>
    <a mat-list-item  routerLink="/home" routerLinkActive="active"><span class="material-icons">home</span>Home</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item  routerLink="/services" routerLinkActive="active"><span class="material-icons">miscellaneous_services</span>Services</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item  routerLink="/products" routerLinkActive="active"><span class="material-icons">precision_manufacturing</span>Products</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item  routerLink="/projects" routerLinkActive="active"><span class="material-icons">work</span>Projects</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item  routerLink="/about" routerLinkActive="active"><span class="material-icons">view_in_ar</span>About</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item  routerLink="/profile" routerLinkActive="active"><span class="material-icons">person_search</span>profile</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item  routerLink="/contact" routerLinkActive="active"><span class="material-icons">phone</span>Contact</a>
 </mat-nav-list>