<div class="profile">
    <div class="row">
        <div class="col-md-6">
           <div class="edu">
              <div class="card card-one">
                  <h3>10th</h3>
                  <h5>Uttar Pradesh Board</h5>
              </div>
              <div class="card card-two">
                <h3>12th</h3>
                <h5>Uttar Pradesh Board</h5>
            </div>
            <div class="card card-three">
                <h3>BCA</h3>
                <h5>C.C.S University</h5>
            </div>
            <div class="card card-four">
                <h3>M.C.A</h3>
                <h5>A.K.T University</h5>
            </div>
           </div>
        </div>
        <div class="col-md-6">
           <div class="work">
              <div class="card">
                <div class="lang">
                    <label for="">Javascript</label>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="lang">
                    <label for="">HTML/CSS</label>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 95%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="lang">
                    <label for="">Angular 2 +</label>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="lang">
                    <label for="">Wordpress</label>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="lang">
                    <label for="">Photoshop</label>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
           </div>
        </div>
    </div>
</div>